<footer>

<h1>Museum app</h1>
<p>https://floating-woodland-18326.herokuapp.com/</p>

</footer>

<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="/js/script.js"></script>


</body>
</html>
