<nav>
  <ul>

    <h2>MUSEUM APP</h2>
    <p>YOU ARE THE ARTIST AND THE ART</p>
    <li><a href="/">Home</a></li>
    <li><a href="/portfolio">Kunst</a></li>
    <li><a href="/bericht">Specifiek</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>
