body{
  margin:0;
  font-size: 20px;
  font-family: 'Gill Sans', Gill Sans MT;
  margin: 0px;
}

li{
  list-style-type: none;
  display:inline-block;
}

img{
  width: 100%;
}


a{
  text-decoration: none;
  color:white;
  padding:20px;
}

header {
	text-align: center;
	padding: 30px 0 120px;
  color:black;
}

h2{
  text-align: center;
  padding-top: 100px;
}

footer{
  background-color: #C4B07A;
	color: BLACK;
  text-align: center;
  padding:40px;
  margin-top: 240px;
}

form {
  max-width:420px; margin:50px auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.feedback-input {
  color:#131B47;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid black;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus {
  border:2px solid #131B47;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  width: 100%;
  background:#C4B07A;
  border-radius:5px;
  border:0;
  color:black;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}


.grid-item { width: 45.5%; margin-left: 30px;
  height:441px;
  margin-top: 100px;
}

.grid img{
  height:441px;
}

p.description{
  padding:0;
}

p.date{
  padding:0;
}

.grid h1{
  margin-top: -60px;
  color:white;
  padding-left: 20px;
}

.grid p{
  font-style: italic;
  padding-top: 10px;
  margin-top:0;
  margin-bottom: 0;
}


h1 {
    font-size: 2.3em;
    font-weight: 500;
}

header{
  background-color: #C4B07A;
  padding:0;
  margin:0;
}

ul{
  margin:0;
  background-color: #C4B07A;
  padding-top: 100px;
  padding-bottom: 230px;
}

nav p {
  font-size: 45px;
}

H2{
  font-size: 70px;
  font-weight: normal
}

button.button{
  padding:20px;
  margin-top: 100px;
  margin-left: 30px;
  font-size: 30px;
  border:#C4B07A 3Px solid;
  background-color: white;
}

h1.title{
  padding-left: 15px;
}

p.date{
  font-style: italic;
  padding-left: 15px;
}

p.description{
  padding-left: 15px;
}

.text{
  padding-right: 15px;
  margin-top: 70px;
  font-size: 28px;
  padding-left: 15px;
}
